VITE_API_URL=https://jogo-investigacao-kobn.onrender.com
VITE_SOCKET_URL=https://jogo-investigacao-kobn.onrender.com
VITE_GOOGLE_CLIENT_ID=240928260198-plbuq2tjrcmquvrtr1vknke6r6glu324.apps.googleusercontent.com
